<!-- Loop over the Accounts in $scope.accounts -->
<div class="panel panel-primary col-md-6 col-md-offset-3" ng-repeat="account in accounts track by $id(account)">
    <div class="panel-heading col-md-12">
        <div class="col-md-9">
            <h3 class="panel-title">{{ account.name }}</h3>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-sm" ng-click="expand(account._id, account, '../../templates/brandPanel.html', 'account')">{{ account.brands.length }}</button>   
        </div>         
    </div>
    <div class="panel-body col-md-12">
        <div class="row">
            <div class="col-md-8"><strong>Account Director</strong></div>
            <div class="col-md-4">{{ account.accountDirector }}</div>
        </div>
        <div class="row">
            <div class="col-md-8"><strong>Client Success Director</strong></div>
            <div class="col-md-4">{{ account.csd }}</div>
        </div>
        <div class="row">
            <div class="col-md-8"><strong>Sales Director</strong></div>
            <div class="col-md-4">{{ account.sd }}</div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="deleteClient(account._id)">Delete</button>
        </div>
    </div>
</div>
<!-- Form to create Clients -->
<div id="client-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">

                <!-- Bind this value to formData.accountName in IN ANGULAR -->
                <input type="text" class="form-control input-lg text-center" placeholder="ClientName" ng-model="formData.name">
                <input type="text" class="form-control input-lg text-center" placeholder="Account Director" ng-model="formData.accountDirector">
                <input type="text" class="form-control input-lg text-center" placeholder="Client Success Director" ng-model="formData.clientSuccessDirector">
                <input type="text" class="form-control input-lg text-center" placeholder="Sales Director" ng-model="formData.salesDirector">
            </div>

            <!-- createClient() will create new Clients -->
            <button type="submit" class="btn btn-default btn-lg" ng-click="createAccount()">Add</button>
        </form>
    </div>
</div>