<!-- Loop over the Accounts in $scope.dbDocuments -->
<div class="col-md-8 col-md-offset-2" ng-repeat="dbDocument in dbDocuments | unique: 'accountName'">
    <div class="list-group">
        <h3><a href="#" class="list-group-item active">{{ dbDocument.accountName }}</a></h3>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item active">Team Members</li>
            <li class="list-group-item" ng-if="dbDocument.accountDirector"> 
                <div class="row">
                    <div class="col-md-3"><strong>Account Director</strong></div>
                    <div class="col-md-2">{{ dbDocument.accountDirector }}</div>
                </div>
            </li>
            <li class="list-group-item" ng-if="dbDocument.csd">
                <div class="row">
                    <div class="col-md-3"><strong>Client Success Director</strong></div>
                    <div class="col-md-2">{{ dbDocument.csd }}</div>
                </div>
            </li>
            <li class="list-group-item" ng-if="dbDocument.sd">
                <div class="row">
                    <div class="col-md-3"><strong>Sales Director</strong></div>
                    <div class="col-md-2">{{ dbDocument.sd }}</div>
                </div>
            </li>
            <li class="list-group-item" ng-if="dbDocument.tsm">
                <div class="row">
                    <div class="col-md-3"><strong>Technical Success Manager</strong></div>
                    <div class="col-md-2">{{ dbDocument.tsm }}</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <select class="form-control" ng-model="formData.teamMemberType">
                                <option value="csd">Client Success Director</option>
                                <option value="sd">Sales Director</option>
                                <option value="tsm">Technical Success Manager</option>
                            </select>
                            <input type="text" class="form-control" placeholder="Team Member Name" ng-model="formData.newTeamMember">
                            <button class="btn btn-default" type="button" ng-click="addTeamMember(dbDocument, 'accountTeamMember')">+</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item active">Technical Documents</li>
            <li class="list-group-item">
                <button type="submit" id="createTechPlanButton" class="btn btn-default btn-sm" ng-click="createTechPlan(dbDocument)">Create New Technical Plan</button>
            </li>
        </ul>
        <div class="row">
            <button type="submit" id="deleteAccountButton" class="btn btn-primary btn-sm" ng-click="deleteRecord(dbDocument)">Delete</button>
        </div>
    </div>
    <div class="list-group">
        <span class="list-group-item active"><strong>Brands</strong></span>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#{{ dbDoc._id }}" ng-repeat="dbDoc in dbDocuments | brandsInAccount:dbDocument.accountName | unique: 'brandName'" ng-click="doStuff()">
        <strong>{{ dbDoc.brandName }}</strong>
        <span class="badge" ng-repeat="client in dbDocuments | isBrandInAccount:dbDoc.brandName | unique: 'platform'">{{ client.platform }}</span>
        <span class="badge">{{ dbDocuments | instancesInBrand:dbDoc.brandName }}</span>
        <span class="badge">{{ clientMonitor.baseDisplayCode }}</span>

            <div id="{{ dbDoc._id }}" class="collapse">
                <!-- List of Client Contacts -->
                <ul class="list-group-submenu brandDetailsList"> <!-- THIS HAS INLINE CSS ON INDEX.HTML -->
                    <li class="list-group-item active">Client Contacts</li>
                    <li class="list-group-item" ng-repeat="techPeople in dbDoc.technicalContacts">
                        <div class="row">
                            <div class="col-md-3"><strong>{{ techPeople.typeOfTechContact }}</strong></div>
                            <div class="col-md-2">{{ techPeople.nameOfTechContact }}</div>
                        </div>
                    </li>
                    <li class="list-group-item"> 
                        <div class="row">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <select class="form-control" ng-model="formData.typeOfTechContact">
                                        <option>3rd Party Agency</option>
                                        <option>Internal Client Resource</option>
                                        <option>Technical Director</option>
                                        <option>Internal Technical Stakeholder</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="Team Member Name" ng-model="formData.nameOfTechContact">
                                    <button class="btn btn-default brandDetailsTechAddBtn" type="button" ng-click="addTeamMember(dbDoc, 'techTeamMember')">+</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <!-- End List of Client Contacts -->

                <!-- List of Brand's Client Instances -->
                <ul class="list-group-submenu brandDetailsList"> <!-- THIS HAS INLINE CSS ON INDEX.HTML -->
                    <li class="list-group-item active">Client Instances</li>
                    <li class="list-group-item" ng-repeat="client in dbDocuments | isBrandInAccount:dbDoc.brandName">
                        <div class="row">
                            <div class="col-md-4"><strong>{{ client.clientName }}</strong></div>
                        </div>
                    </li>
                    <li class="list-group-item"> 
                        <div class="row">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Client Name" ng-model="formData.clientName">
                                    <button class="btn btn-default brandDetailsClientAddBtn" type="button" ng-click="openPdf()">+</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <!-- End List of Brand's Client Instances -->
            </div>
        </a>
        
        <span class="list-group-item">
            <div class="row">
                <div class="input-group">
                    <label class="sr-only" for="newBrand">Brand Name</label>
                    <input type="text" class="form-control" placeholder="New Brand Name" ng-model="formData.brandName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="createRecord(dbDocument)">+</button>
                    </span>
                </div>
            </div>
        </span>
    </div>
</div>
<!-- Form to create Clients -->
<div id="client-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">

                <!-- Bind this value to formData.accountName in IN ANGULAR -->
                <input type="text" class="form-control input-lg text-center" placeholder="Account Name" ng-model="formData.accountName">
                <input type="text" class="form-control input-lg text-center" placeholder="Account Director" ng-model="formData.accountDirector">
                <input type="text" class="form-control input-lg text-center" placeholder="Brand Name" ng-model="formData.brandName">
            </div>

            <!-- createClient() will create new Clients -->
            <button type="submit" id="addAccountButton" class="btn btn-default btn-lg" ng-click="createRecord()">Add</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).on('click', '[data-toggle=collapse] .brandDetailsList', function(e) {
        e.stopPropagation();
    });

    // JS to keep the techTeamMember list expanded upon adding a tech team member
    // TODO: THIS STILL NOT WORKING TO KEEP THE LIST GROUP EXPANDED
    $('.brandDetailsTechAddBtn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var $collapse = $this.closest('.collapse-group').find('.collapse');
        $collapse.collapse('show');
    });
</script>