<div>
	<form class="form-inline" role="form">
        <div class="form-group">
            <select class="form-control" ng-model="auditData" ng-options="dbDoc.accountName for dbDoc in dbDocuments | unique:'accountName'" ng-change="myBrandName = auditData.accountName">
            </select>
            <select class="form-control" ng-model="auditData.brandName" ng-options="brandName for brandName.brandName in dbDocuments | filter: { accountName: myBrandName } | unique:'brandName'">
            </select>
            <input type="text" class="form-control" placeholder="Platform" ng-model="auditData.platform">
            <input type="text" class="form-control" placeholder="Catalog Health Score" ng-model="auditData.catalogHealthScore">
            <input type="text" class="form-control" placeholder="Active Products" ng-model="auditData.activeProducts">
            <input type="text" class="form-control" placeholder="UPCs" ng-model="auditData.upcs">
            <input type="text" class="form-control" placeholder="EANs" ng-model="auditData.eans">

            <select class="form-control" ng-model="auditData.bvPixel">
            	<option>All good - Healthy</option>
            	<option>Needs checking - Warnings</option>
            	<option>Broken - Errors</option>
            </select>
            <button class="btn btn-default" type="button" ng-click="addTeamMember(dbDocument, 'accountTeamMember')">+</button>

            {{auditData}}
        </div>
    </form>
</div>