<!-- Loop over the Accounts in $scope.dbDocuments -->
<div class="col-xs-12" ng-repeat="dbDocument in dbDocuments | filter: { accountName: currentAccount } | unique: 'brandName' track by $index">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>{{ dbDocument.brandName }}</h3></div>

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td class="col-xs-2">Instance</td>
					<td class="col-xs-2">Platform</td>
					<td class="col-xs-2">Product Feed</td>
					<td class="col-xs-2">BV Pixel</td>
					<td class="col-xs-2">Syndication</td>
					<td class="col-xs-2">Something else</td>
				</tr>
				<tr ng-repeat="client in dbDocuments | filter: { brandName: dbDocument.brandName } | unique: 'clientName' track by $index">
					<td class="col-xs-2">{{ client.clientName }}{{ getProductCount(client.clientName); }}</td>
					<td class="col-xs-2"><span class="badge">{{ client.platform }}</span></td>
					<td class="col-xs-2">{{ audits.catalogHealthScore | filter: {clientName: client.clientName}; "444" }} <br>
										 {{ audits.activeProducts | filter: {clientName: client.clientName}; "1010" }} <br>
										 {{ audits.upcs | filter: {clientName: client.clientName}; "213" }} <br>
										 {{ audits.eans | filter: {clientName: client.clientName}; "512" }}
										 <!-- {{ activeProductCount }} Active Products --></td>
					<td class="col-xs-2">2</td>
					<td class="col-xs-2">1</td>
					<td class="col-xs-2">things</td>
				</tr>
			</thead>
		</table>
	</div>
</div>